#inforegion{
    font-size: 42pt;
    background: beige;
    width: 1000px;
    height: 500px;
    position: relative;
    text-align: center;
    top: 300px;
    left: 1600px;
}

.lesvg {
    position: absolute;
    top: 5px;
    left: 13px;
    width: 1346px;
}

.lesvg path {
    opacity: 0.1;
    fill: antiquewhite;
    stroke: #0569eb;
    stroke-width: 1px;
    stroke-opacity: 0.1;
    transition: fill 0.5s;
}

.lesvg path:hover {
    opacity: 0.5;
    fill: #01759c;
    cursor: pointer;
}

#map {
    position: absolute;
    height: 1290px;
    width: 1370px;
}